h1, h2, h3 {
    display: inline;
}

body {
    font-family: sans-serif;
    background-image: url(https://i.imgur.com/0v8wmiU.png);
  background-repeat:repeat;
  margin: 0;
  padding: 0;
}

.header {
    font-family: sans-serif;
    background-image: url("https://i.imgur.com/VMUW87X.jpg");
    background-size: 1320px 600px;
    background-repeat: no-repeat;
    height: 600px;
    width: 1319px;
    margin-left: 0;
  margin-top: 0;
}

.headerText {
    color: white;
    font-family: sans-serif;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

    .container {
            max-width: 900px;
            color: black;
            margin: 0 auto;
            font-family: sans-serif;
            padding-left: 20px;
            padding-right: 20px;
        }
        

.counter {
    color: white;
    margin: 0 auto;
    font-family: sans-serif;
    top:350px;left:640px;position:absolute;z-index:25
}

.tattoo {
    color: black;
    margin: 0 auto;
    font-family: sans-serif;
    top:440px;left:55px;position:absolute;z-index:25;
    -webkit-transform:  rotate(353deg);-moz-transform:  rotate(348deg);-o-transform:  rotate(348deg);writing-mode: lr-tb;
}
 
.articles {
    color: black;
    margin: 0 auto;
    font-family: sans-serif;
    top:650px;position:absolute;z-index:25
} 
  