h1, h2, h3 {
    display: inline;
}

body {
    font-family: sans-serif;
    background-color: red;
    background: url("https://i.imgur.com/VMUW87X.jpg");
    background-size: 1320px 600px;
    background-repeat: no-repeat;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

    .container {
            max-width: 900px;
            color: white;
            margin: 0 auto;
            font-family: sans-serif;
            padding-left: 20px;
            padding-right: 20px;
        }

.headPad {
    padding: 1px 1px 1px 10000px;
}       
        
.inline { 
    display: inline; 
    }
