body {
    font-family: sans-serif;
    background-color: lightgrey;
    background: url("https://static.pexels.com/photos/209978/pexels-photo-209978.jpeg");
    background-size: 1734px 856px;
    background-repeat: no-repeat;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

    .container {
            max-width: 800px;
            margin: 0 auto;
            color: grey;
            font-family: sans-serif;
            padding-left: 20px;
            padding-right: 20px;
        }
